---
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Contact Form: using Netlify Serverless Functions</title>
  </head>
  <body>
    <header class="header-container">
      <h1>Astro Landing Page: using Serverless Functions</h1>
    </header>
    <main class="main-container">
      <section class="card">
        <h2>New book is launching soon:</h2>
        <ul>
          <li>Why you should be using NewTech</li>
          <li>How to leverage latest NewTech features,</li>
          <li>10 Step plan for your business</li>
        </ul>
      </section>
      <section class="card card-alt">
        <h2>Find out more</h2>
        <p>Contact form will go here</p>
      </section>
    </main>
  </body>
</html>
